.gitignore
.DS_Store
.Rhistory
.Rproj.user/
.netlify/
.quarto/
_site/
lectures/week01/handout/template.old
lectures/week01/slides/logo.png
lectures/week01/slides/sussex.scss
termpdf.log

/.quarto/

pid
TODO





lectures/week08/handout/central-limit/
lectures/week08/handout/distribution-shapes/
lectures/week08/handout/simple-binomial/
lectures/week08/handout/simple-normal/



lectures/week10/slides/index-speaker.html
lectures/week11/slides/index-speaker.html
lectures/week01/slides/index-speaker.html
lectures/week02/slides/index-speaker.html
lectures/week03/slides/index-speaker.html
lectures/week04/slides/index-speaker.html
lectures/week05/slides/index-speaker.html
lectures/week06/slides/index-speaker.html
lectures/week07/slides/index-speaker.html
lectures/week08/slides/index-speaker.html
lectures/week09/slides/index-speaker.html
