.gitignore
.quarto/
_site/
lectures/week08/handout/central-limit/
lectures/week08/handout/distribution-shapes/
lectures/week08/handout/simple-binomial/
lectures/week08/handout/simple-normal/

/.quarto/
